<div class="row">
  <div class="col-sm-6">
    <%= form_tag( message_path, method: :post) do %>
      <div class="form-group full-height">
        <%= label_tag "Phone Number" %>
        <%= text_field_tag( "message[number]", nil,  class: "form-control")%>
      </div>
      <div class="form-group full-height">
        <%= label_tag "Message" %>
        <%= text_field_tag( "message[body]", nil,  class: "form-control")%>
      </div>
      <div class="text-center full-height" >
        <%= submit_tag("Message", class: "btn btn-lg")%>
      </div>
    <% end %>
  </div>
</div>